.acordeonMore{
    display: flex;
    flex-direction:column;
    width: 100%;
    /*border: 1px solid;
    border-radius: 1rem;
    margin:1rem 0;
    */
    transition: .25s;
}

/*.acordeonMore.open,
.acordeonMore:hover{
    
    
}
*/


.acordeonMore .triggerMore{
    font-size: 1rem;
    font-weight: 70;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5 rem;
    background-color: transparent;
    /* color: #fff; */
    border: none;
    
}

.theme.dark .acordeonMore .triggerMore p{
    
    margin: 0;
    text-align: start;
    color: white;
}

.acordeonMore .triggerMore:hover{
    cursor: pointer;

}

.theme.dark .acordeonMore .triggerMore:hover p{

    color:cyan;
}

.theme.light .acordeonMore .triggerMore:hover p{

    color:yellow;
}

.acordeonMore .triggerMore::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url('../images/icons/arrow.svg'); */
    transition: .25s;

}

.acordeonMore .contentMore{    
    overflow: hidden ;
    height: 0;
    opacity: 0;
    transition: .25s  opacity ease-in-out ;    
}

.acordeonMore.open .contentMore{
    display: block;
    overflow: visible;
    height: auto;
    opacity: 1;
    padding: 0.5rem 1rem 1rem 2rem;
}

/* Define o estilo da imagem */
.acordeonMore img{
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* Define o estilo da janela modal */
  .modal {
    display: none; /* Esconde a janela modal por padrão */
    position: fixed; /* Fixa a posição da janela modal */
    z-index: 1; /* Coloca a janela modal acima de todo o conteúdo */
    left: 0; /* Alinha a janela modal à esquerda */
    top: 0; /* Alinha a janela modal ao topo */
    width: 100%; /* Define a largura da janela modal */
    height: 100%; /* Define a altura da janela modal */
    overflow: auto; /* Habilita o scroll se o conteúdo for maior que a janela modal */
    background-color: rgba(0,0,0,0.4); /* Adiciona um fundo preto transparente */
  }
  
  /* Define o estilo do conteúdo da janela modal */
  .modal-content {
    background-color: white; /* Define a cor de fundo do conteúdo da janela modal */
    border-radius: 5px; /* Arredonda as bordas do conteúdo da janela modal */
    display: flex; /* Usa o display flex para alinhar o conteúdo da janela modal */
    justify-content: center; /* Centraliza o conteúdo da janela modal horizontalmente */
    align-items: center; /* Centraliza o conteúdo da janela modal verticalmente */
  }

  
  
  /* Define o estilo do botão de fechar a janela modal */
  .close {
    position: absolute; /* Posiciona o botão de fechar a janela modal */
    top: 10px; /* Define a distância do botão de fechar ao topo da janela modal */
    right: 10px; /* Define a distância do botão de fechar à direita da janela modal */
    color: white; /* Define a cor do botão de fechar */
    font-size: 32px; /* Define o tamanho da fonte do botão de fechar */
    font-weight: bold; /* Define o peso da fonte do botão de fechar */
    cursor: pointer; /* Define o cursor do botão de fechar */
  }
  
  /* Define o estilo do botão de fechar a janela modal quando o mouse passa sobre ele */
  .close:hover {
    color: red; /* Muda a cor do botão de fechar para vermelho */
  }

  @media only screen and (min-width:768px){

    .modal-content img{

        width: 70vw; /* Define a largura do conteúdo da janela modal */
        height: 70vh;
    
    }
    .acordeonMore img{
        width: 50vw;
        height: 50vh;
    }

    .modal-content {
        margin: 7% auto;  /*Centraliza o conteúdo da janela modal  */
        width: 80vw; /* Define a largura do conteúdo da janela modal */
        height: 80vh;
    }

  }

  @media only screen and (max-width:768px){

    
    .acordeonMore img{
        
        width: 50vw;
        height: 30vh; 

    }

    .modal-content {

        width: 70vh;
        height: 70vh;
        /* margin: 7% auto;  Centraliza o conteúdo da janela modal  */
        /*width: 90vw;  Define a largura do conteúdo da janela modal */
        /*height: 90vh; */
    }

    .modal-content img{

        width: fit-content;
        height: fit-content;
        display: block;
        align-items: center;
        justify-content: center;
        /*width: 100%; Define a largura do conteúdo da janela modal */
        /*height: 100%; */
    }
  }
