/*Parte de skills*/

.skills{
    display: flex;
    flex-direction: column;
}

.skills .hardskills ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}


.skills .hardskills ul img{
    max-width: 50px;
    margin: 0.5rem;
}

.skills .softskills ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .softskills ul li{
   
    margin-left: 2rem;
    padding: .5rem;
}

@media only screen and (min-width:768px){
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/*Parte de portfólio*/

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;    
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;

}

.portfolio li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: .5rem; 
    margin:0;
    margin-bottom: .5rem;


}
.portfolio li .title.github::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/github.svg');
    margin-right: .5rem;

}

.portfolio li a{
   /* color: #fff; */

   text-decoration: none;

}

.portfolio li a:hover{
    /* color: #fff; */
    text-decoration: underline;
 
 }

 /* Parte de languages */

 .languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}   

.languages li{
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 1rem;
    font-weight: 700;
    font-size: 1.25rem;    
}  

.languages li::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/check.svg');
    margin-right: .5rem;
 }   

 /*Parte de experience*/

 .experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li{
    margin-bottom: 1rem;
}

.experience li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/data.svg');
    margin-right: .5rem;
}

/* Parte do social media */

.socialMedia{

    display: flex;
    justify-content: center;
    align-content: center;

.socialMedia li{


    display: flex;
    justify-content: center;
    align-content: center;
    padding: auto;
    margin: auto;

}

.socialMedia a{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.socialMedia p{

    display: flex;
    justify-content: center;
    align-content: center;

}    

}

@media only screen and (min-width:768px){

    .socialMedia{
    
        flex-direction: row;
    
    }
    

}

 @media only screen and (max-width:768px){

     .socialMedia{

         flex-direction: column;
     }

}

.Personal{

    font-size: 1.2rem;

}
